@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";




@theme {
  --color-grad1: #B8326A;
  --color-grad2: #FF5A5F;
  --color-grad-cta1:#FF5A5F;
  --color-grad-cta2:#C1839F;
  --color-dark:#12100E;
  --color-white-1:#F4F5F0;
  --color-white-op-1:#F4F5F040;

  --color-diamond1:#2e86ab;
   --color-diamond2:#3587a4;

  --color-gr-h1: #D1D1D1;
  --color-gr-h2: #E8CCBF;

  --font-montserrat: "Montserrat", sans-serif;
  --font-inter:"Inter", sans-serif;

}